<%= stylesheet_link_tag    "setting" %>

<%= render 'layouts/menu' %>


<div id="content" class="section">
    
<div id="nav">
    <div>
        <p>
            <a href="/user/edit.action" class="selected">个人信息</a>
            <em class="dot">●</em>
            <a href="/user/apps.action">应用授权</a>
        </p>
    </div>
</div>

<div id="edit" class="settings">
<h2>个人信息</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-item">
        <%= f.label :用户名 %><%= f.text_field :username %><span></span>
  </div>
  <div class="form-item">
        <%= f.label :头像 %>#####
  </div>
  <div class="form-item">
        <%= f.label :邮箱 %><%= f.text_field :email %><span></span>
  </div>

   <div class="form-item">
    <%= f.label :当前密码 %>
    <%= f.password_field :current_password %>
  </div>
  <div class="form-item">
        <%= f.label :新密码 %><%= f.password_field :password %><span></span>
  </div>
  <div class="form-item">
    <%= f.label :确认密码 %>
    <%= f.password_field :password_confirmation %>
  </div>
 
  <div class="form-item"><%= f.label :个人站点 %><%= f.text_field :website %><span></span></div>
  <div class="form-item"><%= f.label :所在地 %><%= f.text_field :city %><span></span></div>
  <div class="form-item">
    <%= f.label :自我介绍 %><%= f.text_area :intro %>
    <span></span>
  </div>
  <div class="form-item">
    <%= f.label :邮件提醒 %>
    <%= f.check_box :notified %>&nbsp;是否接收来自Pinterest的提醒
    <span></span>
  </div>
  <div><%= f.submit "更新个人信息" %></div>
<% end %>

