<%= stylesheet_link_tag    "login" %>

<div id="login">
    <h2>通过邮箱找回密码</h2>
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "auth_mk"}) do |f| %>
  	<%= devise_error_messages! %>
        <ul>
            <li><%= f.label :邮箱 %><%= f.text_field :email %><span></span></li>
            <li>
                <%= f.submit "找回密码" %>
            </li>
        </ul>
    <% end %>
</div>